.secundario {
  color: #D9EAFD;
}


.secundario:hover {
  border-radius: 10px;
  background-color: #BCCCDC;
  color: #F8FAFC
}

.bgprimario {
  background-color: #9AA6B2;

}

.bgprimarioEmer {
  background-color: #9AA6B2;
  border-radius: 10px;
}

.none {
  display: none;
}

.emergent-panel {
  position: absolute;
  margin-right: 25%;
  
}
.emergent-panel2{
  position: absolute;
  margin-left: 12%;
  border-radius: 5px;
}
.conemer{
  margin: 20px;
}

.top-25 {
  top: 25% !important;
}

.left-25 {
  left: 25%;
}

html,
body {
  height: 100%;
}

.contenedor {
  min-height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo base */
.react-datepicker {


  /*font-size: 1.4rem !important;*/
  justify-content: center;
  transform: scale(1.4);
  transform-origin: top center;
}

.react-datepicker__header {
  padding-top: 1.5rem;
}

.react-datepicker__month {
  margin: 1.5rem;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 3rem;
  line-height: 3rem;
  margin: 0.3rem;
}

.react-datepicker__current-month {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.react-datepicker__navigation {
  top: 1.5rem;
  line-height: 2.5rem;
  border: 0.8rem solid transparent;
}

.react-datepicker__navigation--previous {
  border-right-color: #666;
  left: 1.5rem;
}

.react-datepicker__navigation--next {
  border-left-color: #666;
  right: 1.5rem;
}

.react-datepicker__day:hover {
  background-color: #e6e6e6;
  border-radius: 50%;
}

.footercitas {
  margin-top: 100px;
}

/* app.css */

.container {
  max-width: 800px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}


tbody {
  display: block;
  height: 200px; /* Altura fija del tbody */
  overflow-y: auto; /* Scroll si hay muchas filas */
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  
}
.scroll {
  max-height: 550px; /* Ajusta según tus necesidades */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede el alto */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  border: 1px solid #ccc; /* Opcional: para visualizar el área */
  padding: 10px; /* Opcional: para mejorar el espaciado interno */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
.scrollC {
  max-height: calc(100vh - 230px); /* Altura dinámica basada en la altura de la ventana */
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 24px; /* Espacio para el footer, basado en el padding superior del footer */
  position: relative; /* Asegura que el contenedor tenga un contexto de posicionamiento */
}
.scroll::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.scroll::-webkit-scrollbar-track {
  background: #E0E0E0; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #130f0f30; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #E0E0E0; /* Espaciado alrededor del scroll */
}

